@media screen and (min-width: 320px) and (max-width: 767px) {
  .section {
    padding: 60px 0px;
  }
  .section__list {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .list__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    padding: 60px 0px;
  }
  .section__item {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .section__list {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
  .section__item {
    display: flex;
    margin: -15px;
  }
  .section__list {
    margin: 15px;
    width: 270px;
  }
}

.section__icon {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.section__svg {
  width: 70px;
  height: 70px;
}

.list__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color_title);
  margin-bottom: 10px;
}
.list__text {
  font-weight: 400;
  line-height: 1.7;
  color: var(--color_grey);
}
